.container {
    padding: 20px 40px;
    width: 270px;
    height: 280px;
    font-size: 30px;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        border-color: #000;
    }

    .title {
        font-size: 18px;
        margin: 5px auto;
        font-weight: bold;
        color: rgb(255, 73, 109);
    }

    .price {
        font-size: 18px;
        font-weight: bold;
        color: #555;
    }

    .desc {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 160px;
        height: 200px;
        padding: 5px;
        margin: 0;
        margin-top: 15px;

        .title {
            font-size: 16px;
        }

        .price {
            font-size: 24px;
        }

        .desc {
            font-size: 24px;
        }
    }
}